# Database Connections
# Update the URL to include standard auth, pointing to the container name
MONGO_URL=mongodb://admin:SuperSecretPassword@cephalon-onni-mongo:27017/?authSource=admin
REDIS_URL=redis://redis:6379

# PostgreSQL Configuration
POSTGRES_URL=postgresql+asyncpg://postgres:SuperSecretPassword@cephalon-onni-postgres:5432/cephalon_onni
POSTGRES_USER=postgres
POSTGRES_PASSWORD=SuperSecretPassword
POSTGRES_DB=cephalon_onni

# Initial MongoDB Setup Credentials (used by the mongo image on first boot)
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=SuperSecretPassword
